body {
	/*background-color: #f2f2f2;*/
	font-family: Arial, sans-serif;
  }
  
  .birthday-message {
	width: 500px;
	margin: 50px auto;
	padding: 20px;
	background-color: #ff99cc;
	border: 1px solid: #ff99cc;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .heart-button {
	background-color: #ff69b4;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
  }
  
  .heart-button:hover {
	background-color: #ff99cc;
  }
  
  .secret-message {
	display: none;
	padding: 20px;
	background-color: #ff99cc;
	border: 1px solid #ddd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	font-size: xx-large;
	font-style:oblique;
	text-align: center;   
	font-family: "Protest Guerrilla", sans-serif;
	font-weight: 400;
        font-style: normal;
  }
  }

  
  .show {
	display: block;
  }
